name: DockerHub Release

on:
  push:
    branches:
      - main
      - hosted-worker
    paths-ignore:
      - '**/README.md'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  DOCKERHUB_REPOSITORY: native_hf_models
  DOCKERFILE: dockerfile_together

defaults:
  run:
    shell: bash

jobs:
  start-runner:
    name: Start runner on EC2
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Start EC2 Runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.ROBOT_GITHUB_TOKEN }}
          ec2-image-id: ami-0c7c3448920e5e369
          ec2-instance-type: m6i.2xlarge
          subnet-id: subnet-0348e73a9417d8b7c
          security-group-id: sg-0781caaa733a6d51a

  build:
    name: Build and push intermediate image
    needs:
      - start-runner
    runs-on: ${{ needs.start-runner.outputs.label }}
    outputs:
      tag: ${{ steps.build-image.outputs.tag }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Login to DockerHub
        id: login-dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build, tag, and push image to DockerHub
        id: build-image
        env:
          DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
        run: |
          git fetch --tags --unshallow --prune
          curl -sL https://git.io/autotag-install | sh --
          TAG_NAME=v$(bin/autotag -b main -p main -T datetime)
          echo $TAG_NAME
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          echo "${{ env.TAG_NAME }}"
          git config --global user.name 'Together Robot'
          git push --tags
          docker build -f "$DOCKERFILE" --build-arg TAG_NAME=${TAG_NAME} \
            -t ${DOCKERHUB_USERNAME}/${DOCKERHUB_REPOSITORY}:${TAG_NAME} \
            -t ${DOCKERHUB_USERNAME}/${DOCKERHUB_REPOSITORY}:latest .
          docker push -a ${DOCKERHUB_USERNAME}/${DOCKERHUB_REPOSITORY}
          echo "::set-output name=tag::$TAG_NAME"
          echo "Finished push"
          sleep 30

  stop-runner:
    name: Stop runner on EC2
    needs:
      - start-runner
      - build
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Stop EC2 Runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.ROBOT_GITHUB_TOKEN }}
          label: ${{ needs.start-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
